

h1, h2, h3 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: white;
}

h4::first-letter, h5::first-letter {
    text-transform: uppercase;
}

a:hover {
    text-decoration: none;
}

#primary-list {
    list-style: none;
}

img, p {
    display: block;
    margin: 0 auto;
}

.banner {
    height: 230px;
    width: 100vw;
    background-image: url(94560fe3-0c9a-433d-a899-e67c257e2c6c.jpg);
    background-repeat: no-repeat;
    margin: 0;
}